{% extends 'base.html' %}

{% block title %}
My Contact
{% endblock title %}



{% block content %}

    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Open to exciting projects and collaborations. Let's connect and discuss how we can achieve your goals together!</p>
        </div><!-- End Section Title -->
  
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row gy-4">
  
            <div class="col-lg-12">
  
              <div class="info-wrap">
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-geo-alt flex-shrink-0"></i>
                  <div>
                    <h3>Address</h3>
                    <p>Mohakhali, Dhaka, Bangladesh</p>
                  </div>
                </div><!-- End Info Item -->
  
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-telephone flex-shrink-0"></i>
                  <div>
                    <h3>Call Us</h3>
                    <p>+880 1771 139444</p>
                  </div>
                </div><!-- End Info Item -->
  
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-envelope flex-shrink-0"></i>
                  <div>
                    <h3>Email Us</h3>
                    <p>nahidcse600795@gmail.com</p>
                  </div>
                </div><!-- End Info Item -->

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9962.013168500402!2d90.40377061132041!3d23.78008480388073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c71f812bea6b%3A0xc289a221fd0c83e5!2z4KaF4KeN4Kav4Ka-4KaV4KeB4Kav4Ka84Ka-IOCmn-CmvuCmk-Cmr-CmvOCmvuCmsA!5e0!3m2!1sbn!2sbd!4v1759376459521!5m2!1sbn!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
              
              </div>
            </div>

          
              
  
  
          </div>
  
        </div>
  
      </section><!-- /Contact Section -->

{% endblock content %}
