{% extends 'base.html' %}

{% block title %}
My Resume
{% endblock title %}



{% block content %}

    <!-- Resume Section -->
    <section id="resume" class="resume section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Resume</h2>
          <p style="text-align: justify;">As an innovative and deadline-driven Web Developer, I have over 4 years of experience crafting user-centered digital solutions. From initial concept to final polished deliverables, I ensure each project meets the highest standards of creativity and precision. My work is characterized by a strong attention to detail, a passion for solving complex problems, and a commitment to producing impactful web applications that resonate with users. Let's collaborate and bring your vision to life!

          </p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row">
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Diploma in CSE &amp; </h4>
                <h5>2023 - 2025 </h5>
                <p><em>Thakurgaon Polytechnic Institute, Thakurgaon, Bangladesh</em></p>
                <p>Diploma in Computer Science and Technology from Thakurgaon Polytechnic Institute. Skilled in web development, problem-solving, and creating user-centric digital solutions.</p>
              </div><!-- Edn Resume Item -->
  
              <div class="resume-item">
                <h4>Data-Hub Asia &amp; Web Design and Development (Django)</h4>
                <h5>2023 - 2024</h5>
                <p><em>Data-Hub Asia, Bangladesh</em></p>
                <p>Completed a web development internship at Data Hub Asia. Gained expertise in modern web technologies and best practices for dynamic websites.

                </p>
              </div><!-- Edn Resume Item -->
  
            </div>
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Python Developer & Software Engineer Betopia Group</h4>
                <h5>2023 - Present</h5>
                <p><em>Mohakhali, Dhaka, Bangladesh (Aqua Tower) </em></p>
                <ul>
                  <li>Python, Django, and DRF for REST API development </li>
                  <li>Collaborate with UI/UX designers to ensure seamless user experiences</li>
                  <li>Database knowledge: PostgreSQL, MySQL, or MongoDB.</li>
                  <li>Version control: Git for collaboration.</li>
                  <li>Strong problem-solving & Debugging skills.</li>
                  <li>Work with cross-functional teams to resolve issues, identify technical solutions, and contribute to project goals</li>
                  
                </ul>
              </div><!-- Edn Resume Item -->
  
              <div class="resume-item">
                <h4>Graphic design specialist</h4>
                <h5>2019 - 2023</h5>
                <p><em>Sujon Digital, Bangladesh</em></p>
                <ul>
                  <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                  <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                  <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                  <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
                </ul>
              </div><!-- Edn Resume Item -->
  
            </div>
  
          </div>
  
        </div>
  
      </section><!-- /Resume Section -->
  
  



{% endblock content %}
